<section id="new_user_session">

<form method="post" action="/sessions">
  <input type="text" name="email" placeholder="Email" id="placeholder"></br>
  <input type="password" name="password" placeholder="Password" id="placeholder"></br>
  <input type="submit" value="Log in" id="submit"></br>
</form>

</section>