body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(/images/footer_lodyas.png);
}

/*---------
  HEADER
-----------*/

header {
  width: 100%;
  height: 60px;
  background-color: #FFEBCD;
  color: white;
  display: flex;
  padding: 0 5px;
}

header #logo {
  width: 50px;
  margin-top: 3px;
  margin-left: 1200%;

}

header .button {
  width: 60px;
  text-decoration: none;
  text-align: center;
  font-family: Gill Sans, Verdana;
  padding-top: 1.5em;
  background-color: #FF8C00;
  border-radius: 50%;
  color: #FFEBCD;
}

header .welcome {
  color: #FF8C00;
  text-align: right;
  margin-top: 20px;
}

/*---------
  PEEPS
-----------*/

.content {
  display: block;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  width: 600px;
  background-color: #FAF0E6;
  letter-spacing: 0.2px;
  line-height: 17px;
}

.content #name {
  font-weight: bold;
}

.content #user_name_time {
  color: #808080;
}

.content #content {
  margin-bottom: 1000px;
}

/*------------------
  SIGN UP & LOG IN
------------------*/

#new_user_session {
  color: #FFEBCD;
  text-align: center;
  margin-top: 20px;
}

#new_user_session #placeholder {
  border-radius: 5%;
  text-align: center;
  width: 400px;
  background-color: #FAF0E6;
  font-size: 15px;
  padding: .3em;
  color: #808080;
  margin-bottom: .5em;
}

#new_user_session #submit {
  margin-top: 10px;
  border-radius: 5%;
  text-align: center;
  width: 415px;
  background-color: #FF8C00;
  font-size: 15px;
  padding: .4em;
  color: #FFEBCD;
}
