<section id="new_user_session">

<form action="/users" method="post">
  <input id="placeholder" name="name" type="text" value="<%= @user.name %>" placeholder="Full name"></br>
  <input id="placeholder" name="user_name" type ="text" value="<%= @user.user_name %>" placeholder="User name"></br>
  <input id="placeholder" name="email" type="text" value="<%= @user.email %>" placeholder="Email"></br>
  <input id="placeholder" name="password" type="password" placeholder="Password"></br>
  <input id="placeholder" name="password_confirmation" type="password" placeholder="Password confirmation"></br>
  <input id="submit" type="submit" value="Sign up">
</form>

</section>