<!DOCTYPE html>

<html>

  <head>
    <title>Chitter</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>

  <body>

    <header>

      <a href="/"><img id="logo" src='/images/chitter_logo.png'></a>
      
      <% if current_user %>
        <span class="welcome">Welcome, <%= current_user.name %></span>
         <form method="post" action="/sessions">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Log out">
        </form>
        <a href="/peeps/new" class='button'>Peep!</a>
      <% else %>
        <a href='/users/new' id='sign-up' class='button'>Sign up</a>
        <a href='/sessions/new' id='log-in' class='button'>Log in</a>
      <% end %>

    </header>

    <% if flash[:errors] && !flash[:errors].empty? %>
      Sorry, there were the following problems with the form:
      <ul id="errors">
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <% if flash[:notice] %>
        <div id="notice">
          <%= flash[:notice] %>
        </div>
    <% end %>

    <%= yield %>

  </body>

</html>